#config-wrapper{
    width: 100%;
    min-height: 100%;
    height: auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
}
.progress{
    margin: 10px;
    align-items: center;
}
.progress-bar{
    display: inline-block;
    position: relative;

    background-color: #2aabd2;
    /*padding: .5em;*/

}
#text-output{
    display: flex;
}
.text-output-area{

    width:100%;
    height:500px;
    margin:10px;
}
.update-file{
    display: inline-block;
    padding-left: .5em;
    color: #999;
    font-size: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: #fdfdfd;
    cursor: pointer;
}
.update-modal{
    cursor: pointer;
}

.little-title {
    position: relative;
    top: 7px;
}

#records, #server, #report-count, #malware, #current, #current-log {
    width: 200px;
    float: left;
}

.jbutton {
    color: #FFFFFF;
    background-color: #14326c;
    margin-left: 10px;
    opacity: 0.8;
}

.jbutton:hover {
    color: #FFFFFF;
    background-color: #14326c;
    margin-left: 10px;
    opacity: 0.6;
}

.jbutton:focus {
    color: #FFFFFF;
    background-color: #14326c;
    margin-left: 10px;
    opacity: 0.5;
}

.cb-center{
    text-align: center;
}